body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  background-color: rgb(66, 32, 88);
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 0.2rem;
}

h1 {
  margin: 0.2rem;
  font-size: 1.2em;
  font-weight: 500;
}

footer {
  width: 100%;
  margin: 0.3rem;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a {
  border: 1px solid rgba(255, 0, 255, 0.5);
  padding: 1rem;
  border-radius: 2px;
  background-color: blueviolet;
}

a:hover,
a:focus {
  box-shadow: 0 0 10px 2px magenta;
}

.welcome-foot {
  margin-bottom: 1rem;
}

.whole-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 200px;
  width: 80vw;
  min-width: 320px;
  max-width: 800px;
  border-radius: 5px 15px;
  padding: 0;
  background-color: rgba(224, 121, 238, 0.404);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.match-cards {
  margin-top: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.background {
  width: 80%;
  min-width: 30px;
  max-height: 30px;
  padding-top: 80%;
  border-radius: 5px 15px;
  position: relative;
  margin: 0.3rem;
  background-size: cover;
  font-size: 1.2em;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px #ff66f2;
  color: magenta;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Rick and morty settings */

/* .pair-num-1 {
  background-image: url('./assets/rick-and-morty/beth-smith-space-300.png');
}
.pair-num-2 {
  background-image: url('./assets/rick-and-morty/birdperson-posing-300.png');
}
.pair-num-3 {
  background-image: url('./assets/rick-and-morty/jerry-cry-300.png');
}
.pair-num-4 {
  background-image: url('./assets/rick-and-morty/morty-smith-dumb-300.png');
}
.pair-num-5 {
  background-image: url('./assets/rick-and-morty/rick-sanchez-lineup-300.png');
}
.pair-num-6 {
  background-image: url('./assets/rick-and-morty/scroopy-noopers-pointing-300.png');
}
.pair-num-7 {
  background-image: url('./assets/rick-and-morty/squanchy-squanchin-300.png');
}
.pair-num-8 {
  background-image: url('./assets/rick-and-morty/summer-smith-phone-300.png');
} */

/* Encanto settings */

.pair-num-1 {
  background-image: url('./assets/encanto/antonio.png');
}
.pair-num-2 {
  background-image: url('./assets/encanto/bruno.png');
}
.pair-num-3 {
  background-image: url('./assets/encanto/camilo.png');
}
.pair-num-4 {
  background-image: url('./assets/encanto/dolores.png');
}
.pair-num-5 {
  background-image: url('./assets/encanto/isabela.png');
}
.pair-num-6 {
  background-image: url('./assets/encanto/luisa.png');
}
.pair-num-7 {
  background-image: url('./assets/encanto/mirabel.png');
}
.pair-num-8 {
  background-image: url('./assets/encanto/pepa.png');
}
.pair-num-9 {
  background-image: url('./assets/encanto/abuela.png');
}
.pair-num-10 {
  background-image: url('./assets/encanto/abuelo.png');
}
.pair-num-11 {
  background-image: url('./assets/encanto/agustin.png');
}
.pair-num-12 {
  background-image: url('./assets/encanto/casita.png');
}
.pair-num-13 {
  background-image: url('./assets/encanto/felix.png');
}
.pair-num-14 {
  background-image: url('./assets/encanto/julieta.png');
}
.pair-num-15 {
  background-image: url('./assets/encanto/kids.jpeg');
}
.pair-num-16 {
  background-image: url('./assets/encanto/mariano.png');
}
.pair-num-17 {
  background-image: url('./assets/encanto/pico.png');
}
.pair-num-18 {
  background-image: url('./assets/encanto/young-mirabel.png');
}

.card {
  background-image: linear-gradient(0deg, rgb(76, 49, 82), rgb(58, 47, 77));
  position: absolute;
  top: 0;
  border-radius: 5px 15px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.selected {
  opacity: 0;
}
